@font-face {
    font-family: "Ruleta";
    src: url(../font/Lemon\ Days.ttf);
}

:root{
    --dorado:rgb(226, 184, 47);
    --rojo__ruleta : #c2272d;
    --verder__ruleta: #368b43;
}

body {
    margin: 0 auto;
    background-image: url("../image/cesped-titulo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.container {
    border: 1px solid black;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 300px 1fr;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}

.header {
    grid-area: header;    
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.header__titulo {
    text-align: center;
    width: 55%;
    padding: 5px;
    border-radius: 0.25rem;
    margin: auto;
    background-color: rgb(118, 22, 15);
    background-image: url("../image/fondo-numeros.jpg");
    color: var(--dorado);
    border: 4px solid rgba(0, 0, 0, 0.37);
    font-family: Ruleta;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__video{
    border: 4px solid var(--dorado);
    width: 400px;
    border-radius: 0.25rem;
    background-image: url("../image/fondo-ruleta.jpg");
    height: 100%;
    padding: 10px;
    -webkit-box-shadow: -1px 12px 33px 5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 12px 33px 5px rgba(0,0,0,0.75);
box-shadow: -1px 12px 33px 5px rgba(0,0,0,0.75);
}

.main__ganador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    font-variant: small-caps;
    font-size: 25px;
    font-family: Ruleta;
    border-radius: 0.25rem;
}

.ganador__txt {
    background-color: rgba(0, 0, 0, 0.496);
    color: white;
    padding: 15px;
    border-radius: 0.55rem;
    margin-top: 50px;
}

.ganador__numero {
    font-size: 60px;
}



.main__numeros{
    border: 5px solid var(--dorado);
    width: 600px;
    height: 50%;
    background-color: rgb(52, 85, 95);
    background-image: url("../image/fondo-ruleta.jpg");
    background-size: cover;
    border-radius: 0.25rem;
    -webkit-box-shadow: -1px 12px 33px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 12px 33px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 12px 33px 5px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__tablero {
    display: grid;
    grid-template-columns: repeat(50px 13);
    grid-template-rows: 80px 80px 80px 80px;
    grid-template-areas: "cer tre sei nue doce quince diecioch veintiuno veinticua veintisie treinta treintatres treintasei"
                         "cer dos cin och onc cator diecisie veinte veintitre veintisei veintinueve trentaidos treintacin"
                         "cer uno cua sie dei trec diecise diecinue veintido veinticin veintiocho treintauno treintacuat"
                         "cer negro negro negro negro negro negro rojo rojo rojo rojo rojo rojo";
                         
                         -webkit-box-shadow: -1px 12px 33px 5px rgba(0,0,0,0.75);
                         -moz-box-shadow: -1px 12px 33px 5px rgba(0,0,0,0.75);
                         box-shadow: -1px 12px 33px 5px rgba(0,0,0,0.75);
                         position: relative;
                         font-family: Ruleta;
                         
}

.footer__container {
    width: 80%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.verde-tabla {
    background-color: var(--verder__ruleta);
}

.rojo-tabla{
    background-color: var(--rojo__ruleta);
}

.negro-tabla {
    background-color: black;
}

.tablero__caja:nth-child(1){
    grid-area: cer;
}
.tablero__caja:nth-child(2){
    grid-area: uno;
}
.tablero__caja:nth-child(3){
    grid-area: dos;
}
.tablero__caja:nth-child(4){
    grid-area: tre;
}
.tablero__caja:nth-child(5){
    grid-area: cua;
}
.tablero__caja:nth-child(6){
    grid-area: cin;
}.tablero__caja:nth-child(7){
    grid-area: sei;
}.tablero__caja:nth-child(8){
    grid-area: sie;
}.tablero__caja:nth-child(9){
    grid-area: och;
}.tablero__caja:nth-child(10){
    grid-area: nue;
}
.tablero__caja:nth-child(11){
    grid-area: dei;
}.tablero__caja:nth-child(12){
    grid-area: onc;
}.tablero__caja:nth-child(13){
    grid-area: doce;
}.tablero__caja:nth-child(14){
    grid-area: trec;
}.tablero__caja:nth-child(15){
    grid-area: cator;
}.tablero__caja:nth-child(16){
    grid-area: quince;
}.tablero__caja:nth-child(17){
    grid-area: diecise;
}.tablero__caja:nth-child(18){
    grid-area: diecisie;
}.tablero__caja:nth-child(19){
    grid-area: diecioch;
}.tablero__caja:nth-child(20){
    grid-area: diecinue;
}.tablero__caja:nth-child(21){
    grid-area: veinte;
}.tablero__caja:nth-child(22){
    grid-area: veintiuno;
}.tablero__caja:nth-child(23){
    grid-area: veintido;
}.tablero__caja:nth-child(24){
    grid-area: veintitre;
}.tablero__caja:nth-child(25){
    grid-area: veinticua;
}.tablero__caja:nth-child(26){
    grid-area: veinticin;
}.tablero__caja:nth-child(27){
    grid-area: veintisei;
}.tablero__caja:nth-child(28){
    grid-area: veintisie;
}.tablero__caja:nth-child(29){
    grid-area: veintiocho;
}.tablero__caja:nth-child(30){
    grid-area: veintinueve;
}.tablero__caja:nth-child(31){
    grid-area: treinta;
}.tablero__caja:nth-child(32){
    grid-area: treintauno;
}.tablero__caja:nth-child(33){
    grid-area: trentaidos;
}.tablero__caja:nth-child(34){
    grid-area: treintatres;
}.tablero__caja:nth-child(35){
    grid-area: treintacuat;
}.tablero__caja:nth-child(36){
    grid-area: treintacin;
}.tablero__caja:nth-child(37){
    grid-area: treintasei;
}.tablero__caja:nth-child(38){
    grid-area: negro;
    background-image: url("../image/rombo-negro.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(75, 158, 75);
}.tablero__caja:nth-child(39){
    grid-area: rojo;
    background-image: url("../image/rombo-rojo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(75, 158, 75);
}
.tablero__caja {
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    position: relative;
}

.ficha__negra-img {
    position: absolute;
    right: 15px;
    width: 70px;
    z-index: 100; 
}

.ficha__azul-img {
    position: absolute;
    width: 450px;
    top: 680px;
    left: 200px;
}

.ficha__roja-img {
    position: absolute;
    width: 450px;
    top: 768px;
    left: 318px;
}

.saldo {
    display: flex;

}

.saldo__titulo {
    background-color: rgba(0, 0, 0, 0.405);
    text-align: center;
    padding: 15px;
    height: 80px;
    color: rgb(119, 187, 130);
    display: flex;
    border: 2px solid rgba(89, 79, 35, 0.074);
    flex-direction: column;
    border-radius: 0.75rem;
    font-family: Ruleta;
    border: 2px solid black;
}
.saldo__txt {
    font-weight: bold;
    text-align: center;
    color: white;
    
}

.verde-txt {
    color: var(--verder__ruleta);
}

.verde {
    background-color: var(--verder__ruleta);
    width: 40px;
    height: 40px;
    clip-path: polygon(49% 16%, 100% 49%, 50% 84%, 0 50%);
}